
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}
.footer-content img{
    height:40px;
    border-radius: 20px;
}
.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul, .footer-section a {
    margin: 0;
    padding: 0;
    color: #ccc;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #444;
    margin-top: 20px;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
